<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<div>
		<h2>pigeon</h2>
		<ul>
			{{#each pages}}
			    <li><a href="/p/page/{{@key}}">{{this}}</a></li>
			{{/each}}	
		</ul>	
	</div>
	
	{{#each map}}
		<h2>{{cat}}</h2>
		<ul>
			{{#each list}}
				<li><a href="/p/{{../cat}}/{{this}}">{{this}}</a></li>
			{{/each}}
		</ul>
	{{/each}}
	
</body>
</html>